In [33]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [43]:
# Study data files
mouse_metadata_path = "Pymaceuticals/data/Mouse_metadata.csv"
study_results_path = "Pymaceuticals/data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [44]:
len(mouse_metadata)

249

In [45]:
len(study_results)

1893

In [37]:
mouse_metadata.columns

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)'], dtype='object')

In [46]:
study_results.columns

Index(['Mouse ID', 'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'], dtype='object')

In [47]:
clean_df = study_results.sort_values(['Mouse ID','Timepoint']).drop_duplicates(['Mouse ID','Timepoint'],keep=False)

In [49]:
clean_df.head()

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
113      a203          0           45.000000                 0
389      a203          5           48.508468                 0
598      a203         10           51.852437                 1
758      a203         15           52.777870                 1
1018     a203         20           55.173336                 1

In [53]:
main_df = clean_df.merge(mouse_metadata,on='Mouse ID')

In [54]:
main_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,a203,0,45.000000,0,Infubinol,Female,20,23
1,a203,5,48.508468,0,Infubinol,Female,20,23
2,a203,10,51.852437,1,Infubinol,Female,20,23
3,a203,15,52.777870,1,Infubinol,Female,20,23
4,a203,20,55.173336,1,Infubinol,Female,20,23

In [56]:
drug_df = main_df.groupby('Drug Regimen')

In [66]:
mean = drug_df['Tumor Volume (mm3)'].mean()
median = drug_df['Tumor Volume (mm3)'].median()
var = drug_df['Tumor Volume (mm3)'].var()
std = drug_df['Tumor Volume (mm3)'].std()
sem = drug_df['Tumor Volume (mm3)'].sem()